body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(#e66465, #9198e5);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.container {
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.options {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
}

.option-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%; /* Ensure full width */
}

.option-item label {
  flex: 1; /* Allow label to take up remaining space */
}

.password-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.2em;
  padding: 10px 20px;
  margin: 10px;
}

#copy-btn {
  width: 100%;
  max-width: 200px;
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 30px;
  }

  .container {
    width: 100%;
    padding: 10px;
  }

  .options {
    align-items: flex-start; /* Align items to the start on mobile */
  }

  .option-item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  button {
    width: 100%;
    font-size: 1.5em;
  }

  #copy-btn {
    max-width: 100%;
  }
}









