body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: linear-gradient(#e66465, #9198e5);
  /* Uncomment the next line to use a background image */
  /* background-image: url(itbackgr.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
}

.container {
  text-align: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

.options {
  margin-bottom: 20px;
}

.password-container {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.2em; /* Increase button font size */
  padding: 10px 20px; /* Increase button padding */
  margin: 10px; /* Add margin for spacing */
}

#copy-btn {
  width: 100%; /* Make the button full width */
  max-width: 200px; /* Set a max width */
}

input[type="checkbox"] {
  margin-right: 10px;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 600px) {
  body {
    flex-direction: column;
    padding: 30px;
  }

  .container {
    width: 90%;
    padding: 10px;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .options label,
  .options input[type="checkbox"],
  .options input[type="number"] {
    display: block;
    margin-bottom: 10px;
  }

  .options input[type="checkbox"] {
    margin-bottom: 0;
  }

  .options label[for="numbers"],
  .options input#numbers,
  .options label[for="length"],
  .options input#length {
    margin-top: 10px;
  }

  button {
    width: 100%; /* Make buttons full width on mobile */
    font-size: 1.5em; /* Increase font size on mobile */
  }

  #copy-btn {
    max-width: 100%; /* Ensure the button remains full width on mobile */
  }
}






